
body {

}

* {
	margin: 2px;
}

.default {
height: 30px;
width : 150px;
/*border:2px solid #666666;*/
border-radius: 5px; 
}

#content {
/*margin-right:auto;
margin-left:auto;*/
/*width:100%;
*/}

.input-cla {
	width : 55px;
	height : 18px;
	border-radius:5px;
}

.input-radius-cla {
	width : 100px;
	height : 18px;
	border-radius:5px;
}

.block-div {
	vertical-align:middle;
	border:2px solid #666;
	border-radius:5px;
	padding: 2px;
	overflow: hidden;

}
